{% extends "instructions.html" %}

{% block pageTitle %}
  Manage your staff
{% endblock %}

{% block instructions %}
	<p>On the following page you will be shown a table that shows a list of Prison Offender Managers (POMs) and their work caseload. The caseloads consist of how many prisoners they have and what tier the prisoners are in.</p>
	<p>We would like you to go through this table and see whether the information presented is legible in terms of colour, contrast and readability.</p>
	
	<ul class="govuk-list govuk-list--bullet">
		<li>In the 'active probation officer POM' tab, look at Stephen Dicks, does tier A or B have more cases? How many in each?</li>
	</ul>

  {{ govukButton({
    href: "/manage-your-staff/staff",
    text: "Continue"
  }) }}
{% endblock %}
