{% extends "layout.html" %}

{% block pageTitle %}
  MOJ Design System Accessibility Audit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MOJ Design System Accessibility Audit
      </h1>
      <p>
        This site is designed to demonstrate the components of the <a href="https://moj-design-system.herokuapp.com/">MOJ Design System</a> inside contextual journeys so that they can be tested for accessibility compliance.
      </p>

      <p>
        Follow the links below to navigate to individual journeys. If you would like to add to any of them, please use <a href="https://github.com/ministryofjustice/moj-ds-accessibility-audit/issues">our GitHub issues</a> to make suggestions and join discussion.
      </p>

      <h2 class="govuk-heading-m">Journeys</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/check-password">Check your password whilst setting it</a>
        </li>
        <li>
          <a href="/find-grants">Find and manage some grants</a>
        </li>
        <li>
          <a href="/look-at-a-grant">Look at one of your organisation's grants</a>
        </li>
        <li>
          <a href="/edit-a-grant">Edit an ongoing grant application</a>
        </li>
        <li>
          <a href="/review-a-task-list">Review a task list</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
